[user]
	email = daffa.hp.dh@gmail.com
	name = takadev15

[core]
  editor = nvim
  pager = delta

[merge]
  tool = fugitive

[mergetoool]
  prompt = true

[mergetool "fugitive"]
  cmd = nvim -f -c "Gvdiffsplit!" "$MERGED"

[diff]
  tool = vimdiff
[difftool]
  prompt = true
[difftool "nvimdiff"]
    cmd = nvim -d "$LOCAL" "$REMOTE"

[push]
  default = current

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decoration
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[alias]
  p = pull
	mg = merge
  co = checkout
  cob = checkout -b

[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
