
#! ------------------------------------------------------------------------------
#! ROFI Color theme 1
#! ------------------------------------------------------------------------------
#rofi.color-enabled: true
#rofi.color-window: #393939, #393939, #268bd2
#rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
#rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
#rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c


# ------------------------------------------------------------------------------
# ROFI Color theme 2
# ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-normal: #262626, #ebdbb2, #262626, #ebdbb2, #262626
rofi.color-urgent: #262626, #ebdbb2, #262626, #ebdbb2, #262626
rofi.color-active: #262626, #ebdbb2, #262626, #ebdbb2, #262626
rofi.color-window: #262626, #ebdbb2, #ebdbb2

Xft.dpi: 100
