/*
Widget Wofi
*/

@define-color highlight #89b4fa;
@define-color txt #cad3f5;
@define-color base1  #494d64;
@define-color base2  #40455;

*{
    font-family: 'JetBrainsMono Nerd Font';
}

#window {
    border: 1px solid @highlight;
    margin: 0px 5px 0px 5px;
}

#inner-box {
    background-color: @base2;
}

#outer-box {
    margin: 5px;
    padding:10px;
    background-color: @base2;
    margin-top: -22px;
}

#text {
    padding: 5px;
    color: white;
}

#entry {
    margin: 2px;
    background-color: @base1;
}

#entry:selected {
    background-color: @highlight;
}

#entry:selected #text{
    color: @base2
}
