/*
Open Window Selection
*/

@define-color highlight #89b4fa;
@define-color txt #cad3f5;
@define-color base1  #494d64;
@define-color base2  #40455;

*{
    font-family: 'JetBrainsMono Nerd Font';
}

window {
    border: 1px solid @highlight;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border:none;
    color: white;
}

#inner-box {
    background-color: @base2;
}

#outer-box {
    margin: 5px;
    padding:15px;
    background-color: @base2;
}

#text {
    padding: 5px;
    color: white;
}

#entry:selected {
    background-color: @highlight;
}

#entry:selected #text{
    color: @base2
}
